@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  scroll-behavior: smooth;
}

.container {
  @apply max-w-[1700px] mx-auto p-5;
}

.section {
  @apply py-[50px];
}

#sign_up_form {
  @apply grid grid-cols-1 gap-1;
}

#sign_up_form input {
  @apply border px-3 py-1 rounded-md;
}

#sign_up_form input:focus {
  @apply outline-0 border-[#0991b2];
}

#sign_up_form label {
  @apply mt-3 text-gray-800;
}
#editor_header_form label {
  @apply mt-3 text-gray-800 font-medium;
}

#sign_up_form button {
  @apply mt-4;
}


#sign_up_form span {
  @apply bg-red-100 text-red-600 px-2 py-[2px] rounded-md inline-block;
}

input {
  @apply border;
}

input:focus {
  @apply outline-0 scale-[1.01] shadow;
}


// scrollbar style

/* width */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}